@import "tailwindcss";

:root {
  --primary: #006dbb;
  --secondary: #092846;
  --background: #ffffff;
  --text: #161e2a;
  --textalt: #406fba;
  --card-bg: #f8fafc;
  --navbar-bg: #e3efff;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-text: var(--text);
  --color-textalt: var(--textalt);
  --color-card-bg: var(--card-bg);
  --color-navbar-bg: var(--navbar-bg);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}
